
.header {    
    /* background: url(/images/bg.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center; */
    height: 37px;
    background-color: #0e1803;
    color: white;
    }
   
     
/********************
******НАВИГАЦИЯ*****
********************/ 
.nav_info{

    height: 150px;
}
    .header_seach{
        box-sizing: content-box;
        font-size: 14px;
        color: white;
        float: left;
        
    }
    
   .row{
       display: flex;
       flex-wrap: wrap;
       margin: 0 -15px;
      ;
   }
   .container .col-4{
    border: 1px solid black;
   } 
    .container .col .header_logo{
        padding-left: 0;
        background-color: red;
    }
    a.regist{
        color: white;
    }
    a.regist:hover{
        color: rgb(18, 199, 18);
        text-decoration: none;
    }
.header .all_oboi{
    font-size: 10px;
    color: #548813;
    padding: 10px 0px 0px 55px;
}
