body {
    background-color: #ffffff;
}
.main_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top:60px;
    width: 398px;
    height: auto;
    background-color: #e3e5e8;
}
.main_form h2{
    letter-spacing: 1px;  
    color: #a8a7a8;  
}

.form-group{
    text-align: center;
    margin-bottom: 15px;
}
input{
    padding: 0 10px;
    width: 318px;
    font-size: 20px;
    line-height: center;
    font-weight: 300;
    height: 40px;
    background-color: rgb(255, 242, 215);  
    outline:none;
    border: 1px solid gray;
}
#login{
    color: #fff;
    background-color: #f10070;
    border-color: transparent;
    border-radius: 7px;
    width: 300px;
}
#login:hover{
    background-color: #c5055e;
    cursor: pointer;
  
}
span{
   
    color: red;
}
.account_info{
    width: 400px;
    height: 150px;
    border:  1px solid blue;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.account_info span{
    color: green;
}